name: cmake

on:
  push:
    paths:
      - "**.cpp"
      - "**.c"
      - "**.h"
      - "**.f90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/cmake.yml"

env:
  CTEST_NO_TESTS_ACTION: error
  CMAKE_BUILD_PARALLEL_LEVEL: 4
  CTEST_PARALLEL_LEVEL: 0

jobs:

  non-wsl:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os}}
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4

    - run: cmake --workflow --preset default
      if: ${{ matrix.os != 'windows-latest' }}

    - run: cmake --workflow --preset msvc
      if: ${{ matrix.os == 'windows-latest' }}


  gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      matrix:
        gcc: [9]

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}

    steps:
    - uses: actions/checkout@v4

    - run: cmake --workflow --preset default


  wsl:
    runs-on: windows-latest
    timeout-minutes: 5

    defaults:
      run:
          shell: wsl-bash {0}

    steps:
    - uses: Vampire/setup-wsl@v3
      with:
        additional-packages:
          cmake make gcc g++ gfortran

    - uses: actions/checkout@v4

    - name: tell WSL version
      run: wsl.exe -l -v
      shell: pwsh

    - name: tell OS release
      run: cat /etc/os-release

    - run: cmake -Bbuild
    - run: cmake --build build

    - run: ctest -V
      working-directory: build
