name: cmake

on:
  push:
    paths:
      - "**.cpp"
      - "**.c"
      - "**.h"
      - "**.f90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/cmake.yml"

# avoid wasted runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CTEST_NO_TESTS_ACTION: error
  CMAKE_GENERATOR: Ninja
  CTEST_PARALLEL_LEVEL: 0

jobs:

  non-wsl:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os}}
    timeout-minutes: 5

    steps:
    - &checkout
      uses: actions/checkout@v6

    - run: cmake --workflow default
      if: ${{ matrix.os != 'windows-latest' }}

    - run: cmake --workflow msvc
      if: ${{ matrix.os == 'windows-latest' }}
      env:
        CMAKE_GENERATOR: "Visual Studio 17 2022"


  gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - *checkout

    - name: CMake Build and Test
      run: cmake --workflow default


  wsl:
    runs-on: windows-latest
    timeout-minutes: 10

    defaults:
      run:
        shell: wsl-bash {0}

    steps:

    - uses: Vampire/setup-wsl@v6
      with:
        distribution: Ubuntu-24.04
        additional-packages:
          cmake ninja-build gcc g++ gfortran
        use-cache: true

    - name: tell OS release
      run: cat /etc/os-release

    - name: tell WSL version
      run: wsl.exe -l -v
      shell: pwsh

    - *checkout

    - name: CMake Build and Test
      run: cmake --workflow --preset default
      env:
        CMAKE_GENERATOR: Ninja

# need --preset for CMake 3.28 of WSL ubuntu 24
